body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: beige;
}
.stopwatch_card {
  border: 2px solid black;
  border-radius: 12px;
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stopwatch_title {
  font-size: 28px;
  letter-spacing: 1px;
}
.stopwatch_display {
  font-size: 28px;
  letter-spacing: 2px;
}
.stopwatch_btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: blanchedalmond;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 18px;
  border: 2px solid black;
}
.btn:hover {
  background-color: bisque;
  cursor: pointer;
}

#pause {
  display: none;
}
#resume {
  display: none;
}
