body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: beige;
}
.stopwatch_card {
  border: 2px solid gray;
  border-radius: 12px;
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.stopwatch_title {
  font-size: 28px;
  letter-spacing: 1px;
}
#stopwatch_display {
  font-size: 28px;
  letter-spacing: 2px;
}
.stopwatch_btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: blanchedalmond;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn:hover {
  background-color: bisque;
}

/* #pause {
  display: none;
}
#resume {
  display: none;
} */
#laps_display {
  display: none;
  text-align: center;
}

#laps_display > h3 {
  font-size: 20px;
  letter-spacing: 1px;
}

#laps_list > li {
  font-size: 16px;
}
